services:
  telegram-userbot:
    build: .
    container_name: telegram_userbot
    restart: unless-stopped
    
    env_file:
      - .env
    
    environment:
      - TZ=Europe/Kyiv
    
    volumes:
      - ./data:/app/data
    
    stdin_open: true
    tty: true
    
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3